/* body */
body {
	text-align: center;
	font-family: Verdana, sans-serif;
}

/* board */
.btn {
	margin-top: 10px;
	padding: 2px 4px;
	background-color: #0066FF;
	color: #FFFFFF;
	font-size: 16px;
}

#board {
	margin: 10px auto;
	width: 550px;
	height: 550px;
}

.box {
	float: left;
	margin: 0;
	padding: 0;
	border: 1px solid #000000;
}